html, 
body {
	min-width: 1200px; 
	min-height: 1750px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #eeeeee;
}

.main-header-logo {
	width: 160px;
	height: 65px;
	padding-top: 50px;
	margin-right: 200px;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	min-height: 115px;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #000000;

	background-color: #eeeeee;
}

.main-navigation-wrapper {
	min-height: 115px;
	width: 100%;
	padding-bottom: 0;
}

.main-navigation-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-container {
 	margin: 0;
 	padding: 0; 
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 30px;
	width: 440px;
	margin: 0;
	padding: 0;
	margin-top: 75px;
	list-style: none;
	
}

.site-basket {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 30px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-top: 75px;
	list-style: none;
}

.site-basket .basket {
	position: relative;
	padding-left: 50px;
}

.basket::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 10px;
	width: 17px;
	height: 17px;
	background-image: url("../img/cart-icon.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
  	opacity: 1;
}

.site-navigation a,
.site-basket a{
	display: block;
	color: #000000;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-basket a:hover {
	color: #fb565a;
}

.site-navigation a:active,
.site-basket a:active {
	color: rgba(0, 0, 0, 0.3);
	
}

.site-navigation .site-navigation-current::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fb565a;
	-webkit-transform: translateY(3px);
	    -ms-transform: translateY(3px);
	        transform: translateY(3px);
}

.slider {
	position: relative;
	background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 2;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 80px;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
	display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
	color: #283136;
}

.button {
	display: block;
	width: 240px;
	padding: 16px 0;
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0 3px rgba(0, 0, 0, 0.1); 
}

.services-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	min-height: 350px;
	width: 1100px;
	list-style: none;
	margin-bottom: 78px;
}

.services-list h3 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services-text {
	margin: 0;
	margin-bottom: 32px;
	padding: 0;
	width: 260px;
	text-transform: none;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.services-item-1,
.services-item-2,
.services-item-3 {
	min-height: 350px;
	width: 300px;
}

.services-item-1 img,
.services-item-2 img,
.services-item-3 img {
	margin-bottom: 19px;
}

.button-order-red,
.button-order-green,
.button-order-yellow {
	display: block;
	width: 160px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	padding: 16px 0px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
}

.button-order-red {
	background-color: #fb565a; 
}

.button-order-red:hover {
	background-color: #e74246; 
}

.button-order-red:active {
	background-color: #d7373b;
	color: #e37376;
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135; 
}

.button-order-green {
	background-color: #00ca74; 
}

.button-order-green:hover {
	background-color: #00bc6c; 
}

.button-order-green:active {
	background-color: #00aa62;
	color: #4dc491;
	-webkit-box-shadow: inset 0 3px #009958;
	        box-shadow: inset 0 3px #009958; 
}

.button-order-yellow {
	background-color: #efc84a; 
}

.button-order-yellow:hover {
	background-color: #eab534; 
}

.button-order-yellow:active {
	background-color: #e5a722;
	color: #edc265;
	-webkit-box-shadow: inset 0 3px #ce961f;
	        box-shadow: inset 0 3px #ce961f;  
}

.about {
	min-height: 380px;
	width: 680px;
	margin-top: 75px;
}

.about-title {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
}

.about-text {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
}

.about-services-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.about-services-list {
	position: relative;
	margin: 0;
	margin-top: 27px;
	padding: 0;
	list-style: none;
}

.about-services-item {
	position: relative;
	margin: 0;
	margin-bottom: 22px;
	padding: 0;
	padding-left: 37px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
}

.about-services-item:last-child {
	margin: 0;
}

.about-services-item::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
  }

.company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 420px;
	margin: 0;
	padding: 0;
	margin-bottom: 65px;
	border-top: 2px solid #eeeeee;
}

.features {
	margin: 0;
	padding: 0;
	min-height: 420px;
	width: 360px;
	margin-top: 40px;
}

.features img {
	margin-bottom: 28px;
}

.features table {
	margin-top: 50px;
}

.features td {
	width: 110px;
}

.features-title {
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.features-stat sup{
	font-size: 30px;
}

.features-stat {
	padding: 0;
	padding-left: 5px;
	padding-bottom: 25px;
	font-size: 45px;
	font-weight: 700;
	line-height: inherit;
	color: #000000;
	width: 100px;
	white-space: nowrap;
}

.features-stat:first-child {
	padding-left: 0;
}

.features-item {
	padding: 0;
	padding-left: 5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #283136;
}

.features-item:first-child {
	padding-left: 0;
}

.partners-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-bottom: 80px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}
.partners-list a {
	display: block;
	height: 100%;
}

.partners-item-1 {
	position: relative;
	height: 90px;
	width: 260px;
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}

.partners-item-1:hover {
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
}

.partners-item-1:active {
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.1;
}

.partners-item-2 {
	min-height: 90px;
	width: 260px;
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}

.partners-item-2:hover {
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
}

.partners-item-2:active {
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.1;
}

.partners-item-3 {
	min-height: 90px;
	width: 260px;
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}

.partners-item-3:hover {
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
}

.partners-item-3:active {
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.1;
}

.partners-item-4 {
	min-height: 90px;
	width: 260px;
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
}

.partners-item-4:hover {
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
}

.partners-item-4:active {
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.1;
}

.footer-contacts {
	position: relative;
	height: 416px;
	margin-bottom: 72px;
	background-color: #ffffff;
	background-image: url(../img/map-with-token.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.map iframe{
	width: 100%;
	height: 416px;
	border: 0;
}

.footer-contacts-information-fix {
	position: relative;
	width: 1200px;
}

.footer-contacts-information {
  	position: absolute;
  	display: block;
  	top: 54px;
  	left: 0px;
  	width: 220px;
  	height: 210px;
  	padding: 48px 50px;
  	background: #ffffff;
  	z-index: 1;
}

.footer-contacts-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
}

.footer-contacts-text {
	margin: 0;
	margin-top: 22px;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	list-style: none;
	color: #000000;
}

.footer-contacts-text-1 {
	margin-bottom: 18px;
}

.footer-contacts-text-2 {
	margin-bottom: 37px;
}

.button-contact-us {
	display: block;
	padding: 16px 0;
	width: 220px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fb565a;
}

.button-contact-us:hover {
	background-color: #e74246; 
}

.button-contact-us:active {
	background-color: #d7373b;
	color: #e37376;
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135; 
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 70px;
}

.footer-social-buttons-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	min-height: 80px;
	width: 260px;
	padding-right: 140px;
}

.social-button-vk,
.social-button-fb,
.social-button-instagram {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 78px;
	height: 78px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.social-button-vk:hover {
	background-color: #e74246;
}

.social-button-vk:active {
	background-color: #d7373b;
}

.social-button-vk svg:active {
	opacity: 0.3;
}

.social-button-fb:hover {
	background-color: #e74246;
}

.social-button-fb:active {
	background-color: #d7373b;
}

.social-button-fb svg:active {
	opacity: 0.3;
}

.social-button-instagram:hover {
	background-color: #e74246;
}

.social-button-instagram:active {
	background-color: #d7373b;
}

.social-button-instagram svg:active {
	opacity: 0.3;
}

.footer-call-to-action {
	min-height: 80px;
	width: 560px;
}

.footer-call-to-action-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-call-to-action-text {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}

.buttons {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.buttons:hover {
	background-color: #e74246;
}

.buttons:active {
	background-color: #d7373b;
	color: #e37376;
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	padding-top: 78px;
	padding-bottom: 105px;
	margin-top: 0;
	margin-bottom: 60px;
	color: #000000;
	text-align: center;
	background-color: #eeeeee;
}

.filters {
	min-height: 2100px;
	width: 260px;
}

.filter fieldset {
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
	border: none;
}

.filter .filter-title {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.filter-option {
	margin-bottom: 20px;
	padding-left: 35px;
}

.filter-option label {
	position: relative;
  	display: block;
  	cursor: pointer;
  	-webkit-user-select: none;
  	   -moz-user-select: none;
  	    -ms-user-select: none;
  	        user-select: none;
}

.filter-input-radio + label {
	color: #283136;
}

.filter-input-radio:checked + label {
	color: #283136;
}

.filter-input-radio:focus + label {
	color: #000000;
}

.filter-input-radio:hover + label{
	color: #000000;
}

.filter-input-radio:disabled + label{
	color: #283136;
	opacity: 0.3;
}

.filter-input-radio + label::before {
  	content: "";
  	position: absolute;
  	left: -35px;
  	top: -3px;
  	width: 17px;
  	height: 17px;
  	border: 4px solid #a6a6a6;
  	border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  	content: "";
  	position: absolute;
  	left: -27px;
  	top: 5px;
  	width: 9px;
  	height: 9px; 
  	background-color: #a6a6a6;
  	border-radius: 50%;
}

.filter-input-radio:focus + label::before {
	border-color: #000000;
}

.filter-input-radio:focus:checked + label::after {
 	background-color: #000000;
}

.filter-input-radio:hover + label::before {
	border-color: #000000;
}

.filter-input-radio:hover:checked + label::after {
 	background-color: #000000;
}

.filter-input-radio:disabled + label::before {
	border-color: #000000;
	opacity: 0.1;
}

.filter-input-radio:disabled + label::after {
 	background-color: #000000;
 	opacity: 0.1;
}

.filter input + label {
	color: #283136;
}

.filter input:checked + label {
	color: #283136;
}

.filter input:focus + label {
	color: #000000;
}

.filter input:hover + label{
	color: #000000;
}

.filter input:checked:disabled + label{
	color: #283136;
	opacity: 0.3;
}

.filter-input-checkbox + label::before {
  	content: "";
  	position: absolute;
  	left: -35px;
  	top: -2px;
  	width: 23px;
  	height: 23px;
  	background-image: url("../img/checkbox-off.svg");
  	opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  	content: "";
  	position: absolute;
  	left: -35px;
  	top: -2px;
  	width: 26px;
  	height: 23px;
  	background-image: url("../img/checkbox-on.svg");
  	opacity: 0.4;
}

.filter-input-checkbox:hover + label::before {
  	opacity: 1;
}

.filter-input-checkbox:hover:checked + label::after {
  	opacity: 1;
}

.filter-input-checkbox:focus + label::before {
  	opacity: 1;
}

.filter-input-checkbox:focus:checked + label::after {
  	opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  	opacity: 0.1;
}

.filter-input-checkbox:checked:disabled + label::after {
  	opacity: 0.1;
}


.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  /* Для демонстрации */
  width: 260px;
  margin-bottom: 55px; 
}

.range-filter {
  width: 260px;
  margin-top: 47px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.coast-form-title {
	color: #000000;
	text-transform: uppercase;
}

.show-botton {
	font: inherit;
	width: 260px;
	padding: 17px 90px;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #000000;
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.show-botton:hover {
	background-color: #dfdfdf;
}

.show-botton:active {
	background-color: #d5d5d5;
	-webkit-box-shadow: inset 0 3px #bfbfbf;
	        box-shadow: inset 0 3px #bfbfbf;
	color: #959595;
}

.sorting-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
}

.sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	margin-left: auto;
	padding: 0;
	width: 360px;
	list-style: none;
}

.sorting-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	white-space: nowrap;       
	margin-right: 27px;
}

.sorting-item:nth-child(3) {
	margin-right: 50px;
}

.sorting-item:nth-child(4) {
	margin-right: 35px;
}

.sorting-item:nth-child(5) {
	margin-right: 0;
}

.cross-up::before {
	content: "";
	position: absolute;
	margin-right: 0;
	top: 2px;
	right: 0px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #000000;
	opacity: 0.3;
}

.cross-up:hover::before {
	opacity: 0.6;
}

.cross-up:active::before {
	opacity: 1;
}

.cross-down::before {
	content: "";
	position: absolute;
	margin-right: 27px;
	top: 2px;
	left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #000000;
}

.cross-down:hover::before {
	opacity: 0.6;
}

.cross-down:active::before {
	opacity: 1;
}

.sorting-item a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	opacity: 0.3;
}

.sorting-item a:hover {
	opacity: 0.6;
}

.sorting-item a:active {
	opacity: 1;
}

.sorting-item a.active {
	opacity: 1;
}

.catalog {
	min-height: 2100px;
	width: 760px;
}

.catalog-collumns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	list-style: none;
}

.catalog-item {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 576px;
	width: 360px;
	margin-bottom: 29px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item-image {
	margin: 0;
	padding: 0;
	line-height: 0px;
}

.catalog-item-title {
    margin: 0;
    margin-top: 32px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-item-text{
	padding: 0;
	margin: 0 auto;
	margin-top: 20px;
	width: 240px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.catalog-item a {
	width: 200px;
    margin: 0 auto;
    margin-top: 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
	border-color: transparent;
}

.catalog-item a:hover,
.catalog-item a:focus {
	border-color: transparent;
}

.catalog-item a:active {
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135;
	border-color: transparent; 
}

.catalog-item svg{
	margin: 0;
	padding: 0;
	opacity: 0.12;
}

.catalog-item:hover,
.catalog-item:focus {
	-webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
	        box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover svg,
.catalog-item:focus svg {
	opacity: 1;
}

.catalog-item-list {
	content: "";
	position: absolute;
	display: block;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 360px;
	min-height: 230px;
	text-align: center; 
	background-color: #eeeeee;
	opacity: 0;
	z-index: 1;
}

.catalog-item:hover .catalog-item-list,
.catalog-item:focus .catalog-item-list {
	opacity: 1;
}

.button {
	width: 240px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border-radius: 3px;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135; 
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 445px;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;

	list-style: none;
	min-height: 49px;
}

.pagination-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 11px;
}

.pagination-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 49px;
	height: 49px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	color: #959595;
	-webkit-box-shadow: inset 0 3px #bfbfbf;
	        box-shadow: inset 0 3px #bfbfbf;
}

.pagination-item-current a {
	width: 45px;
	height: 45px;
	background-color: #ffffff;
	color: #000000;
	border: 3px solid #dbdbdb;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	background-color: #ffffff;
	color: #000000;
	border: 3px solid #dbdbdb;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.next-page a{
	min-width: 260px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
	display: none;
	position: fixed;
	top: 170px;
	left: 50%;
	width: 760px;
	margin-left: -480px;
	padding: 80px 100px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.6);
	z-index: 3;
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-error {
  	-webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: absolute;
    top: 77px;
    right: 85px;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
    outline: none;
}

.modal-close:active {
    opacity: 0.1;
}

.apointment-form {
	position: relative;
	width: 760px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-pack: justify; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.form-title {
	display: block;
	padding-bottom: 40px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.form-field label {
	display: block;
	padding-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.form-field input[type="text"],
.form-field input[type="email"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  	width: 360px;
  	padding: 15px 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;
  	border: 2px solid #d7dcde;
  	border-radius: 2px;
}

.form-field input:hover {
	color: #444444;
  	border: 2px solid #b4b9bb;
}

.form-field input:focus {
	color: #000000;
  	border: 2px solid #000000;
}

.form-field input:invalid {
	color: #e74246;
	border: 2px solid #e74246;
}

.form-field textarea {
	width: 730px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;
	padding: 15px 15px;
  	height: 105px;
  	resize: none;

  	border: 2px solid #d7dcde;
  	border-radius: 3px;
}

.form-field textarea:hover {
	color: #444444;
  	border: 2px solid #b4b9bb;
}

.form-field textarea:focus {
	color: #000000;
  	border: 2px solid #000000;
}

.buttons {
	width: 260px;
	margin-top: 30px;
	padding: 17px 80px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border-radius: 3px;
}

.buttons:hover {
	background-color: #e74246;
}

.buttons:active {
	background-color: #d7373b;
	color: #ffffff;
	-webkit-box-shadow: inset 0 3px #c13135;
	        box-shadow: inset 0 3px #c13135; 
}





































