body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #000000;

	background-color: #eeeeee;
}

.site-navigation,
.site-basket {
	list-style: none;
}

.site-navigation a,
.site-basket a{
	color: #000000;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-basket a:hover {
	color: #fb565a;
}

.site-navigation a:active,
.site-basket a:active {
	color: #000000;
	opacity: 0.3;
}

.site-basket {
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
}

.site-navigation .site-navigation-current {
	color: #000000;
	border-bottom: 2px solid #fb565a;
}

.slider {
	background-color: #eeeeee;
}

.slide .slide-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slide-text {
	color: #283136;
}

.button-more-information {
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border-radius: 3px;
}

.button-more-information:hover {
	background-color: #e74246;
}

.button-more-information:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: inset 0 3px #c13135; 
}

.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services-text {
	text-transform: none;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.button-order-red,
.button-order-green,
.button-order-yellow {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border-radius: 3px;
}

.button-order-red {
	background-color: #fb565a; 
}

.button-order-red:hover {
	background-color: #e74246; 
}

.button-order-red:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: inset 0 3px #c13135; 
}

.button-order-green {
	background-color: #00ca74; 
}

.button-order-green:hover {
	background-color: #00bc6c; 
}

.button-order-green:active {
	background-color: #00aa62;
	color: #4dc491;
	box-shadow: inset 0 3px #009958; 
}

.button-order-yellow {
	background-color: #efc84a; 
}

.button-order-yellow:hover {
	background-color: #eab534; 
}

.button-order-yellow:active {
	background-color: #e5a722;
	color: #edc265;
	box-shadow: inset 0 3px #ce961f;  
}

.about-title {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
}

.about-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
}

.about-services-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.about-services-list {
	list-style: none;
}

.about-services-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #283136;
}

.features-title {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
}

.features-stat {
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
	color: #000000;
}

.features-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #283136;
}

.partners-list {
	list-style: none;
}

.partners-item-1 {
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	opacity: 0.2;
}

.partners-item-1:hover {
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.partners-item-1:active {
	background-image: url("../img/logo-1.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.partners-item-2 {
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	opacity: 0.2;
}

.partners-item-2:hover {
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.partners-item-2:active {
	background-image: url("../img/logo-2.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.partners-item-3 {
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	opacity: 0.2;
}

.partners-item-3:hover {
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.partners-item-3:active {
	background-image: url("../img/logo-3.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.partners-item-4 {
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	opacity: 0.2;
}

.partners-item-4:hover {
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.partners-item-4:active {
	background-image: url("../img/logo-4.png");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.footer-contacts-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #000000;
}

.footer-contacts-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #000000;
}

.button-contact-us {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #fb565a;
}

.button-contact-us:hover {
	background-color: #e74246; 
}

.button-contact-us:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: inset 0 3px #c13135; 
}

.footer-social-buttons-list {
	list-style: none;
}

.social-button-vk {
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	border-radius: 70px;
}

.social-button-vk:hover {
	background-color: #e74246;
}

.social-button-vk:active {
	background-color: #d7373b;
}

.social-button-vk svg:active {
	opacity: 0.3;
}

.social-button-fb {
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	border-radius: 70px;
}

.social-button-fb:hover {
	background-color: #e74246;
}

.social-button-fb:active {
	background-color: #d7373b;
}

.social-button-fb svg:active {
	opacity: 0.3;
}

.social-button-instagram {
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #e1e1e1;
	background-repeat: no-repeat;
	border-radius: 70px;
}

.social-button-instagram:hover {
	background-color: #e74246;
}

.social-button-instagram:active {
	background-color: #d7373b;
}

.social-button-instagram svg:active {
	opacity: 0.3;
}

.footer-call-to-action-title {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.footer-call-to-action-text {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}

.form-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.form-field label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.form-field input {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;

  	border: 2px solid #d7dcde;
  	border-radius: 3px;
}

.form-field input:hover {
	color: #444444;
  	border: 2px solid #b4b9bb;
}

.form-field input:active {
	color: #000000;
  	border: 2px solid #000000;
}

.form-field textarea {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;

  	border: 2px solid #d7dcde;
  	border-radius: 3px;
}

.form-field textarea:hover {
	color: #444444;
  	border: 2px solid #b4b9bb;
}

.form-field textarea:active {
	color: #000000;
  	border: 2px solid #000000;
}

.buttons {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.buttons:hover {
	background-color: #e74246;
}

.buttons:active {
	background-color: #d7373b;
	color: #e37376;
	box-shadow: inset 0 3px #c13135;
}

.modal-close {
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	border: none;
	border-radius: 3px;
}

.visually-hidden {
	visibility: hidden;
}

.page-title {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	background-color: #eeeeee;
}

.filter fieldset {
	border: none;
}

.filter .filter-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

.filter input + label {
	color: #283136;
}

.filter input:hover + label,
.filter input:active + label {
	color: #000000;
}

.filter input:disabled + label {
	color: #000000;
	opacity: 0.3;
}

.coast-form-title {
	color: #000000;
	text-transform: uppercase;
}

.show-botton {
	font: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #000000;
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
}

.show-botton:hover {
	background-color: #dfdfdf;
}

.show-botton:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px #bfbfbf;
	color: #959595;
}

.sorting-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.sorting-list {
	list-style: none;
}

.sorting-item a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	opacity: 0.3;
}

.sorting-item a:hover {
	opacity: 0.6;
}

.sorting-item a:active {
	opacity: 1;
}

.sorting-item a.active {
	opacity: 1;
}

.catalog-list {
	list-style: none;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.catalog-item p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.catalog-item a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;

	background-color: #fb565a;
	border-radius: 3px;
}

.catalog-item a:hover {
	background-color: #e74246;
}

.catalog-item a:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135
}

.catalog-item svg{
	opacity: 0.12;
}

.catalog-item:hover {
	box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
	border: 1px solid rgba(77, 77, 77, 0.1);
}

.catalog-item:hover svg {
	opacity: 1;
}

.catalog-item-list {
	background-color: #eeeeee;
}

.button {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #fb565a;
	border-radius: 3px;
}

.button:hover {
	background-color: #e74246;
}

.button:active {
	background-color: #d7373b;
	color: #ffffff;
	box-shadow: inset 0 3px #c13135; 
}


.pagination-list {
	list-style: none;
}

.pagination-item a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	vertical-align: middle;

	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item a:hover {
	background-color: #dfdfdf;
}

.pagination-item a:focus {
	background-color: #d5d5d5;
	color: #959595;
	box-shadow: inset 0 3px #bfbfbf;
}

.pagination-item a:active {
	background-color: #ffffff;
	color: #000000;
	border: 3px solid #dbdbdb;
	box-shadow: none;
}

.pagination-item-current a {
	background-color: #ffffff;
	color: #000000;
	border: 3px solid #dbdbdb;
	box-shadow: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	background-color: #ffffff;
	color: #000000;
	border: 3px solid #dbdbdb;
	box-shadow: none;
}
